# Ignore macOS system files
.DS_Store

# Ignore frontend build output
frontend/build/

# Ignore frontend node modules
frontend/node_modules/

# Ignore all Java class files
*.class

# Ignore all JAR files
*.jar
