# Maven Surefire test reports
backend/target/surefire-reports/

# Ignore macOS system files
.DS_Store

# Ignore frontend build output
frontend/build/

# Ignore frontend node modules
frontend/node_modules/


# Ignore all Java class files
*.class

# Ignore all .lst files
*.lst

# Ignore all JAR files
*.jar
*.jar.original
*.JAR
*.JAR.original

# Ignore VS Code settings folder
.vscode/
